<div class='container-fuild'>
<div class='row'>
<div class='col-md-4'></div>

<div class='col-md-4'>

<div class="field">
<%= form.label :audio_file %>
<%= form.file_field :audio_file,class:"form-control" %>


<%= form.label :audio_title %>
<%= form.text_field :audio_title,class:"form-control", placeholder: "曲名" %>

<%= form.label :new_audio_image %>
<%= form.file_field :new_audio_image ,id:"myfile",class:"form-control" %>

<img id="img1"/>

<%= form.label :audio_lyrics %>
<%= form.text_area :audio_lyrics,cols:30,class: 'form-control', placeholder: "歌詞" %>
</div>

<%= form.submit class:'btn btn-info btn-lg my-5' %>


</div>
<div class='col-md-4'></div>
</div>
</div>