<p>index</p>

<%= link_to '新規作成', new_audio_path %>

<%=@user.name%>

<% @audios.each do |audio| %>
<%= audio.audio_title %>
<%= link_to '編集', edit_audio_path(audio) %>
<%= link_to '削除', audio_path(audio),method: :delete,data:{confirm: "削除しますか？"} %>
<%end%>