<%=render "shared/basic"%>


<div class='container-fuild'>
<div class='row'>
<div class='col-md-2'></div>



<div class='artworks col-md-7 col-md-offset-1'>

<h3 class='text-left'>Audio</h3>
<br>

<div class='row'>

<% @elements.each do |element| %>

<%= link_to "#", class: 'element col-6 col-sm-6 col-md-6 col-lg-3' do %>
<%= image_tag 'icon.png',class:'element-image' %>
<div class='element-title'>
<span><%= element.title %></span><br>
<%= element.group.name %>
</div>
<%end%>
<%end%>



</div>




<h3 class='text-left'>Video</h3>

<h3 class='text-left'>CDs</h3>



</div>

<div class='col-md-2'></div>
</div>
</div>