<%=render "shared/basic"%>

<ul class="tabnav">
    <li><a href="#tab01" class="far fa-copy" ></a></li>
    <li><a href="#tab02" class="fas fa-user-circle"></a></li>
</ul>
<div class="tabcontent">
    <div id="tab01">
    <div class='container-fuild'>
<div class='row'>
<div class='col-md-2'></div>



<div class='artworks col-md-7 col-md-offset-1'>

<h2 class='text-left'>Audio</h2>
<br>
<div class='row'>
<% @audios.each do |audio| %>
<%= link_to "#", class: 'audio col-6  col-sm-6 col-md-6 col-lg-3' do %>
<%= image_tag audio.audio_image,class:'audio-image' %>
<div class='audio-title'>
<span><%= audio.title %></span><br>
<%= audio.group.name %>
</div>
<%end%>
<%end%>
</div>


<h2 class='text-left'>Video</h2>
<br>
<div class='row'>
<% @videos.each do |video| %>
<%= link_to "#", class: 'video col-6  col-sm-6 col-md-6 col-lg-3' do %>
<%= image_tag video.video_image,class:'video-image' %>
<div class='video-title'>
<span><%= video.title %></span><br>
<%= video.group.name %>
</div>
<%end%>
<%end%>
</div>


</div>

<div class='col-md-2'></div>
</div>
</div>



    </div>
    <div id="tab02"><br>
    <div class='container-fuild'>
<div class='row'>
<div class='col-md-2'></div>



<div class='members-frame col-md-7 col-md-offset-1'>
<h2 class='text-left'>Member</h2>
<br>
<div class='row'>
  <% @members.each do |member| %>
    <%= link_to "#", class: 'member col-12  col-sm-6 col-md-6 col-lg-6' do %>
    <%= image_tag member.member_image,class:'member-image' %>
    <div class='member-right'>
    <div class='member-text'>
    <span><%= member.member_name %></span>
    <span>(<%= member.part %>)</span>
    </div>
    <div class='member-sns'>
      <%= image_tag 'twitter.png',class:'icon-sns' %>
      <%= image_tag 'instagram.png',class:'icon-sns' %>
    </div>
    </div>
    <%end%>
  <%end%>
</div>
</div>

<div class='col-md-2'></div>
</div>
</div>

    </div>
 </div>


