
<div class='container-fulid'>
<div class='row'>

<div class='col-md-2'></div>


<div class='group-page col-md-7 col-md-offset-1'>
<%#<%= image_tag 'icon.png',class: 'top-icon' %>

<div class='basic-content'>
<div class='top-image-box'>
<%if current_user.top_image.attached?%>
  <%= image_tag current_user.top_image,class: 'top-image' %>
<%end%>
</div>

<%if current_user.icon_image.attached?%>
  <%= image_tag @group.icon_image,class: 'basic-icon' %>
<%else%>
<%= link_to(image_tag("noimage.png",class: 'header-icon'), "/#{current_user.nickname}") %>
<%end%>
  <div class='basic-text'>
    <p><%= @group.name %></p>
    <%#<span><%= @group.short_prof %>
  </div>

</div>
</div>
<div class='col-md-2'></div>
</div>
</div>




<ul class="tab clearfix">
  <li class="active far fa-copy"></li>
  <li class="fas fa-user-circle"></li>
</ul>

<!-- コンテンツ
 全体を非表示にし、showクラスが付いたコンテンツのみ表示 -->
<div class="area">
<ul class="show">
  <%=render "shared/artwork"%>
</ul>
<ul>
<%=render "shared/about"%>
</ul>
</div>




