<span class="notice"><%= notice %></span>
<div class='container-fulid'>
<div class='row'>

<div class='col-md-2'></div><!--左の余白-->


<div class='group-page col-md-7 col-md-offset-1'>
<div class='basic-content'><!--トップページとアイコン-->
<div class='top-image-box'>
<%if @group.top_image.attached?%>
  <%= image_tag @group.top_image.variant(combine_options:{crop:"1600x525+0+0",gravity: :center}).processed,class: 'top-image' %>
  <%else%>
  <%= image_tag "top-image.png",class:'top-image' %>
<%end%>
</div>

<%if @group.icon_image.present?%>
  <%= image_tag @group.icon_image.to_s,class: 'basic-icon' %>
  <%else%>
    <%=image_tag "noimage.png",class: 'basic-icon' %>
<%end%>
  <div class='basic-text'>
    <p><%= @group.name %></p>
  </div>
</div>
</div>
<div class='col-md-2'></div><!--右の余白-->
</div>
</div>



<ul class="tab clearfix">
  <li class="active far fa-copy"></li>
  <li class="fas fa-user-circle"></li>
</ul>

<!-- コンテンツ全体を非表示にし、showクラスが付いたコンテンツのみ表示 -->
<div class="area">
<ul class="show">
  <%=render "shared/artwork"%>
</ul>
<ul>
<%=render "shared/about"%>
</ul>
</div>



