<div class='container-fuild'>
<div class='row'>
<div class='col-md-4'></div>

<div class='col-md-4'>

<div class="field">
<%= form.label :video_url %>
<%= form.text_field :video_url,class:"form-control", placeholder: "YoutubeのURL" %>

<%= form.label :video_title %>
<%= form.text_field :video_title,class:"form-control", placeholder: "曲名" %>

<%= form.label :video_lyrics %>
<%= form.text_area :video_lyrics,col:40,class: 'form-control', placeholder: "歌詞" %>

</div>
<%= form.submit class:'btn btn-info btn-lg my-5' %>


</div>
<div class='col-md-4'></div>
</div>
</div>