<div class='container-fuild'>
<div class='row'>
<div class='col-md-3'></div>

<div class='col-md-6'><!--上側の枠-->
<div class="iframe-content">
      <%= movie(embed_link(@video.video_url)) %>
</div>
<div class="video-show-title">
<p><%= @video.video_title %></p>
</div>
<br>
<br>
<div class="video-show-name">
<p><%= @video.user.name %></p>
</div>
<br>
<br>
<div class="video-show-lyrics">
<%= simple_format(@video.video_lyrics) %>
<p><%=  %></p>
</div>

<div class='video-show-under'><!--下-->
<% @video_all.each do |video|%>
<%= link_to(video_path(video), class: '') do %>
  <%= image_tag embed_image(video.video_url),class:'relation' %>
<%end%>
<%end%>
</div><!--下側-->
</div><!--枠END-->

<div class='col-md-2'></div>
</div>
</div>