<div class='container-fuild'>
  <div class='row'>
    <div class='col-md-2'></div>
          <div class='members-frame col-md-7 col-md-offset-1'>
          <h2 class='text-left title'>Member</h2><br>
            <div class="row">
                  <% @members.each do |member| %>
                      <a class="member col-11 col-md-5 js-modal-open" href="" data-target="<%=member.id%>">
                      <%if member.member_image.attached?%>
                        <%= image_tag member.member_image.variant(combine_options:{crop:"1000x1000+0+0",gravity: :center}).processed,class:'member-image' %>
                        <%else%>
                        <%= image_tag "noimage.png",class:'member-image' %>
                      <%end%>
                        <div class='member-right'>
                        <div class='member-text'>
                        <span><%= member.member_name %></span>
                        <span>(<%= member.part %>)</span>
                        </div>
                        </div>
                      </a>
                      <div class='row'>
                            <div id="<%=member.id%>" class="modal js-modal">
                              <div class="modal__bg js-modal-close"></div>
                              <div class="member_modal__content col-9 col-md-3">
                                <%if member.member_image.attached?%>
                                    <%= image_tag member.member_image.variant(combine_options:{crop:"1000x1000+0+0",gravity: :center}).processed,class:'member-show-image' %>
                                    <%else%>
                                    <%= image_tag "noimage.png",class:'member-show-image' %>
                                <%end%>
                                <div class='member-show-bottom'>
                                <p><span><%= member.member_name %></span><span>(<%= member.part %>)</span></p>
                                <p class='member-info'><span><%= member.member_info %></span></p>
                                      <div class='member-show-sns'>
                                      <%= link_to '',"https://twitter.com/#{member.twitter_id}",target:"_blank",class:'icon-sns fab fa-twitter' %>
                                      <%= link_to '',"https://www.instagram.com/#{member.instagram_id}",target:"_blank",class:'icon-sns fab fa-instagram' %>
                                      </div>
                                      <br>
                                <a class="js-modal-close" href="">閉じる</a>
                              </div>
                              </div>
                            </div><!--modal__inner-->
                      </div>
                  <%end%>
            </div><!--rowにかかる-->

<br><br>
            <h2 class='text-left title'>Links</h2><br>
            <div class="row">
            <%=render "shared/aboutlinks"%>
            </div>

<br><br>
            <h2 class='text-left title'>About</h2>
            <div class="row">
            <div class="info-box col-md-12">
            <%= simple_format @group.info %>
            </div>
            </div>


          </div><!--member-frameここまで-->
    <div class='col-md-2'></div>
  </div><!--大枠のrowにかかる-->
</div>