<div class='container-fuild'>
  <div class='row'>
    <div class='col-md-2'></div>
          <div class='members-frame col-md-7 col-md-offset-1'>
          <h2 class='text-left title'>Member</h2><br>

            <div class="row">
                  <% @members.each do |member| %>
                      <a class="member col-12 col-md-6 js-modal-open" href="" data-target="<%=member.id%>">
                        <%= image_tag member.member_image,class:'member-image' %>
                        <div class='member-right'>
                        <div class='member-text'>
                        <span><%= member.member_name %></span>
                        <span>(<%= member.part %>)</span>
                        </div>
                        </div>
                      </a>
                      <div class='row'>
                            <div id="<%=member.id%>" class="modal js-modal">
                              <div class="modal__bg js-modal-close"></div>
                              <div class="member_modal__content col-9 col-md-3">
                                <%= image_tag member.member_image,class:'member-show-image' %>
                                <div class='member-show-bottom'>
                                <p><span><%= member.member_name %></span></p>
                                <p class='member-info'><span><%= member.member_info %></span></p>
                                      <div class='member-show-sns'>
                                      <%= image_tag 'twitter.png',class:'icon-sns' %>
                                      <%= image_tag 'instagram.png',class:'icon-sns' %>
                                      </div>
                                      <br>
                                <a class="js-modal-close" href="">閉じる</a>
                              </div>
                              </div>
                            </div><!--modal__inner-->
                      </div>
                  <%end%>
            </div><!--rowにかかる-->
          </div>
    <div class='col-md-2'></div>
  </div>
</div>