<div class='container-fuild'>
<div class='row'>
<div class='col-md-2'></div>

<div class='artworks col-md-7 col-md-offset-1'>


<h2 class='text-left title'>Audio</h2>
<br>
<div class='row'>
  <% @audios.each do |audio| %>
  <%= link_to(audio_path(audio), class: 'audio ex col-6 col-md-3') do %>
  <%= image_tag audio.audio_image.to_s,class:'audio-image' %>

  <div class='audio-title'>
      <span><%= audio.audio_title %></span><br>
      <%= audio.user.name %>
  </div>
  <%end%>

  <%end%>
</div>


<br>
<br>
<br>
<h2 class='text-left title'>Video</h2>
<br>
<div class='row'>
<% @videos.each do |video| %>

<%= link_to(video_path(video), class: 'video col-6 col-md-3') do %>
<%= image_tag embed_image(video.video_url),class:'video-image col-md-12' %>
<div class='video-title'>
<span><%= video.video_title %></span><br>
<%= video.user.name %>
</div>

<%end%>
<% end %>
</div>

</div>
<div class='col-md-2'></div>
</div>
</div>

