<div class='container-fuild'>
<div class='row'>
<div class='col-md-2'></div>

<div class='artworks col-md-7 col-md-offset-1'>


<h2 class='text-left title'>Audio</h2>
<br>
<div class='row'>
  <% @audios.each do |audio| %>
    <a class="audio col-6 col-md-3 audio-modal-open" href="" data-target="<%=audio.public_uid%>">

    <%if audio.audio_image.attached?%>
    <%= image_tag audio.audio_image,class:'audio-show-image' %>
    <%else%>
    <%= image_tag "noimage.png",class:'audio-show-image' %>
    <%end%>


      <div class='audio-title'>
      <span><%= audio.audio_title %></span><br>
      <%= audio.user.name %>
      </div>
    </a>
    <div class='row'>
    <div id="<%=audio.public_uid%>" class="modal audio-modal">
    <div class="modal__bg audio-modal-close"></div>
    <div class="modal__content col-9 col-md-3">

<%if audio.audio_image.attached?%>
    <%= image_tag audio.audio_image,class:'audio-show-image' %>
    <%else%>
    <%= image_tag "noimage.png",class:'audio-show-image' %>
    <%end%>


      <span class='audio-show-title'><%= audio.audio_title %></span>
      <span class='audio-show-name'><%= audio.user.name %></span>

      <a class="playBtn"><i class="select far fa-play-circle" ></i></a>



        <%= audio_tag "glowing.mp3",autoplay: false ,controls: false,class:'audio-control',id:'audio1' %>



      <br>
      <!--
      <br><a class="audio-modal-close" href="">閉じる</a>
      -->
    </div>
    </div>
    </div>
  <%end%>
</div>




<h2 class='text-left title'>Video</h2>
<br>

<div class='row'>
<% @videos.each do |video| %>

<a class="video col-6 col-md-3 audio-modal-open" href="" data-target="<%=video.public_uid%>">
<%= image_tag embed_image(video.video_url),class:'video-image' %>
<div class='video-title'>
<span><%= video.video_title %></span><br>
<%= video.user.name %>
</div>
</a>

<div class='row'>
    <div id="<%=video.public_uid%>" class="modal audio-modal">
    <div class="modal__bg audio-modal-close"></div>
    <div class="video_modal__content col-12 col-md-5">
    <div class="iframe-content">
      <%= movie(embed_link(video.video_url)) %>
      </div>
    </div>
    </div><!--modal__inner-->

</div>
<% end %>
</div>

</div>
<div class='col-md-2'></div>
</div>
</div>

