<div class='container-fuild'>
<div class='row'>
<div class='col-md-2'></div>

<div class='artworks col-md-7 col-md-offset-1'>


<h2 class='text-left title'>Audio</h2>
<br>
<div class='row'>
  <% @audios.each do |audio| %>
  <%= link_to(audio_path(audio), class: 'audio col-6 col-md-3') do %>
    <%if audio.audio_image.attached?%>
    <%= image_tag audio.audio_image.variant(combine_options:{crop:"1000x1000+0+0",gravity: :center}).processed,class:'audio-image' %>
    <%else%>
    <%= image_tag "noimage.png",class:'audio-image' %>
    <%end%>


      <div class='audio-title'>
      <span><%= audio.audio_title %></span><br>
      <%= audio.user.name %>
      </div>

    <%end%>

    <!--モーダルウィンドウ
    <div class='row'>
      <div id="<%=audio.public_uid%>" class="modal audio-modal">
      <div class="modal__bg audio-modal-close"></div>
        <div class="modal__content col-9 col-md-3">
          <%if audio.audio_image.attached?%>
          <%= image_tag audio.audio_image.variant(combine_options:{crop:"1000x1000+0+0",gravity: :center}).processed,class:'audio-show-image' %>
          <%else%>
          <%= image_tag "noimage.png",class:'audio-show-image' %>
          <%end%>
        <%= audio_tag  audio.audio_file,preload:"auto" %>
          <span class='audio-show-title'><%= audio.audio_title %></span>
          <span class='audio-show-name'><%= audio.user.name %></span>
        </div>
      </div>
    </div>
    -->
  <%end%>
</div>

<h2 class='text-left title'>Video</h2>
<br>

<div class='row'>
<% @videos.each do |video| %>

<%= link_to(video_path(video), class: 'video col-6 col-md-3') do %>
<%= image_tag embed_image(video.video_url),class:'video-image col-md-12' %>
<div class='video-title'>
<span><%= video.video_title %></span><br>
<%= video.user.name %>
</div>

<%end%>
<% end %>
</div>

</div>
<div class='col-md-2'></div>
</div>
</div>

