<div class='container-fulid'>
<div class='row'>

<div class='col-md-2'></div>


<div class='group-page col-md-7 col-md-offset-1'>
<%#<%= image_tag 'icon.png',class: 'top-icon' %>

<div class='basic-content'>
<div class='top-image-box'>
<%= image_tag 'band.jpg',class: 'top-image' %>
</div>

  <%= image_tag 'icon.png',class: 'basic-icon' %>
  <div class='basic-text'>
    <p><%= @group.name %></p>
    <span><%= @group.short_prof %></span>
  </div>

</div>



</div>


<div class='col-md-2'></div>
</div>
</div>