<div class='container-fuild'>
  <div class='row'>
<div class='col-md-2'></div>

<div class="under-logo col-md-2"></div>

<div class="about-service col-md-3">
<h3>About service</h3>
<li><%= link_to 'よくある質問 ', "#" %></li>
<li><%= link_to '利用規約 ', "#" %></li>
<li><%= link_to 'プライバシーポリシー ', "#" %></li>
<br>
</div>

<div class="about-us col-md-3">
<h3>About us</h3>
<li><%= link_to 'お問い合わせ ', "#" %></li>
<li><%= link_to '公式Twitter ', "#" %></li>
<li><%= link_to '© 2019 artwork.domein', "#" %></li>
</div>

<div class='col-md-2'></div>
</div>
</div>

