
<div class='container-fuild footer'>
  <div class='row'>
<div class='col-md-2'></div>

<div class="under-logo col-md-2"></div>

<div class="about-service col-md-3">
<h3>About service</h3>
<li class="my-2"><%= link_to 'よくある質問 ', "/question" %></li>
<li class="my-2"><%= link_to '利用規約 ', "/terms" %></li>
<li class="my-2"><%= link_to 'プライバシーポリシー ', "/privacy_policy" %></li>
<br>
</div>

<div class="about-us col-md-3">
<h3>About us</h3>
<li class="my-2"><%= link_to 'お問い合わせ ', "/contact" %></li>
<li class="my-2"><%= link_to '公式Twitter ', "https://twitter.com/fogsound_info" %></li>
<br>
<li class="my-2"><%= link_to '© 2019 fogsound.net', "#" %></li>
</div>

<div class='col-md-2'></div>
</div>
</div>

