<li><%= link_to 'よくある質問 ', "#" %></li>
<li><%= link_to '利用規約 ', "#" %></li>
<li><%= link_to 'プライバシーポリシー ', "#" %></li>
<li><%= link_to '運営情報 ', "#" %></li>
<li><%= link_to 'お問い合わせ ', "#" %></li>
<li><%= link_to '公式Twitter ', "#" %></li>
<li><%= link_to '© 2019 artwork.domein', "#" %></li>



