<div class='container-fluid'>
<div class='row'>
<div class='col-md-2'></div>


<div class='header-content col-md-7 col-md-offset-1'>
<%= link_to(image_tag('sound.png',class: 'header-logo'), "/") %>
<div class='header-menu'>
<% if user_signed_in? %>
  <!--ドロワー-->
    <label id="nav-open" for="nav-input"><a>

<%if current_user.icon_image.present?%>
    <%=image_tag(current_user.icon_image.to_s,class: 'header-icon')%>
<%else%>
    <%=image_tag("noimage.png",class: 'header-icon')%>
  <%end%>


    </a></label>
  <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
      <li class="fas fa-sign-in-alt"><%= link_to ' マイページ', "/#{current_user.nickname}"%></li><br><br>
      <hr>

      <li><%= link_to '楽曲を追加', new_audio_path %></li><br>
      <li><%= link_to '動画を追加', new_video_path %></li><br>
      <hr>
      <li><%= link_to 'メンバーを編集', "/members/#{current_user.nickname}" %></li><br>
      <li class="fas fa-cog"><%= link_to ' 設定', user_edit_path(current_user) %></li>
      </div>
</div>
  <%else%>
  <%= link_to " Twitterでログイン/登録", user_twitter_omniauth_authorize_path,class: "btn btn-info btn-lg" %>
<%end%>
</div>
</div>


<div class='col-md-2'></div>
</div>
</div>


<!--<%= link_to 'アートワークを追加', "/artworks",class:'btn btn-info btn-lg' %>
<%= link_to "ログイン", new_user_session_path ,class:"btn btn-info btn-lg"%>
-->