<div class="share-space">
<div class="row">
<div class="col-md-4"></div>
<div class=" col-md-4">

<%if @group.nil? && @audio.nil? %>
<h4 class="share-ex">このサイトをシェアする</h4>
<a href="https://twitter.com/share?url=https://www.fogsound.net&hashtags=fogsound" target="_blank" class="share-button" data-show-count="false"><p>Twitter</p></a>
<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.fogsound.net" target="_blank" class="share-button" data-show-count="false"><p>Facebook</p></a>
<a href="http://line.me/R/msg/text/?https://www.fogsound.net" target="_blank" class="share-button" data-show-count="false"><p>LINE</p></a>



<%elsif @group.present? && @audio.nil? %>
<h4 class="share-ex">このバンドをシェアする</h4>
<a href="https://twitter.com/share?url=https://www.fogsound.net/<%=@group.nickname%>&hashtags=fogsound" target="_blank" class="share-button" data-show-count="false"><p>Twitter</p></a>
<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.fogsound.net/<%=@group.nickname%>" target="_blank" class="share-button" data-show-count="false"><p>Facebook</p></a>
<a href="http://line.me/R/msg/text/?https://www.fogsound.net/<%=@group.nickname%>" target="_blank" class="share-button" data-show-count="false"><p>LINE</p></a>
<%else%>

<h4 class="share-ex">この楽曲をシェアする</h4>
<a href="https://twitter.com/share?url=https://www.fogsound.net/audios/<%=@audio.public_uid%>&hashtags=fogsound,nowplaying" target="_blank" class="share-button" data-show-count="false"><p>Twitter</p></a>
<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.fogsound.net/audios/<%=@audio.public_uid%>" target="_blank" class="share-button" data-show-count="false"><p>Facebook</p></a>
<a href="http://line.me/R/msg/text/?https://www.fogsound.net/audios/<%=@audio.public_uid%>" target="_blank" class="share-button" data-show-count="false"><p>LINE</p></a>

<%end%>

</div>
<div class="col-md-4"></div>
</div>
</div>
