<!DOCTYPE html>
<html>
  <head>
    <title>artwork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'load' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <!-- Twitterカード設定 -->
    <% twitter_card = get_twitter_card_info(@group,@audio) %>
    <meta name="twitter:card" content=<%=twitter_card[:card]%> />
    <meta property="og:url" content=<%=twitter_card[:url]%> />
    <meta property="og:title" content=<%=twitter_card[:title]%> />
    <meta property="og:description" content=<%=twitter_card[:description]%> />
    <meta property="og:image" content=<%=twitter_card[:image]%> />
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
  <div class="wrapper">
  <header class='header'>
    <%= render "shared/header"%>
  </header>
  <div class='container-fuild main-content'>
  <div class="loader-wrap">
  <div class="loader">Loading...</div>
  </div>
    <%= yield %>
  </div>
  <footer class='footer'>
    <%=render "shared/footer"%>
  </footer>
  </div>
  </body>
</html>
