<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<!DOCTYPE html>
<html>
<head>
    <title>Molly - Free PSD Creative Single Webpage Template | GraphBerry.com</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free singlepage web template created by GraphBerry">
    <meta name="keywords" content="HTML5, Bootstrap 3, CSS3, javascript, PHP, Responsive, Mobile">
    <meta name="author" content="GraphBerry.com"/>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="assets/social-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">
<div class='container-fluid'>
<div class='row'>
<div class='col-md-2'></div>
<div class='header-content col-md-7 col-md-offset-1'>
<%= link_to(image_tag('logo.png',class: 'header-logo'), "/") %>
<div class='header-menu'>
<% if user_signed_in? %>
  <!--ドロワー-->
    <label id="nav-open" for="nav-input"><a>

<%if current_user.icon_image.present?%>
    <%=image_tag(current_user.icon_image.to_s,class: 'header-icon')%>
<%else%>
    <%=image_tag("noimage.png",class: 'header-icon')%>
  <%end%>


    </a></label>
  <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
      <li class="fas fa-sign-in-alt"><%= link_to ' マイページ', "/#{current_user.nickname}"%></li><br><br>
      <hr>

      <li><%= link_to '楽曲を追加', new_audio_path %></li><br>
      <li><%= link_to '動画を追加', new_video_path %></li><br>
      <hr>
      <li><%= link_to 'メンバーを編集', "/members/#{current_user.nickname}" %></li><br>
      <li class="fas fa-cog"><%= link_to ' 設定', user_edit_path(current_user) %></li>
      </div>
</div>
  <%else%>
	<%= link_to " Twitterでログイン/登録", user_twitter_omniauth_authorize_path,class: "btn btn-info btn-sm login-button" %>
<%end%>
</div>
</div>


<div class='col-md-2'></div>
</div>
</div>
</div>


	<main>

		<section id="home">

				<%= image_tag "guitar.jpg",class:"lp-top-image" %>

		</section>

		<section id="services">

			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="title-content">
							<h2 class="section-title">音楽活動を行うすべての人へ</h2>
							<p>fonsound(フォグサウンド)は、バンド・ミュージシャンのためのポートフォリオサイト作成サービスです</p>
							<p>バンドマン、ミュージシャン、音楽活動をはじめたばかりの人。fogsoundは、音楽活動を行うすべての人を対象としています。</p>
						</div>
					</div>
				</div>
				<div class="services-container">
					<div class="row">

						<div class="col-md-3 col-sm-6">

							<div class="service">

								<figure>
									<img src="img/svg/services/web_design.svg" alt="Web design services">
									<figcaption><h4 class="service-title">①Web design</h4></figcaption>
								</figure>

								<p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.</p>

							</div>

						</div>

						<div class="col-md-3 col-sm-6">

							<div class="service">

								<figure>
									<img src="img/svg/services/graphic_design.svg" alt="Graphic design services">
									<figcaption><h4 class="service-title">②Graphic design</h4></figcaption>
								</figure>

								<p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.</p>

							</div>

						</div>

						<div class="col-md-3 col-sm-6">

							<div class="service">

								<figure>
									<img src="img/svg/services/photography.svg" alt="Photography services">
									<figcaption><h4 class="service-title">③Photography</h4></figcaption>
								</figure>

								<p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.</p>

							</div>

						</div>

						<div class="col-md-3 col-sm-6">

							<div class="service">

								<figure>
									<img src="img/svg/services/development.svg" alt="Development services">
									<figcaption><h4 class="service-title">④Developing</h4></figcaption>
								</figure>

								<p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.</p>

							</div>

						</div>

					</div> <!-- /.row -->

				</div> <!-- /.services-container -->

			</div> <!-- /.container -->

			<div class="we-make-section">

				<div class="overlay"></div>

				<div class="container">

					<div class="row reorder-sm">

						<div class="col-md-5">

							<div class="img-container">
								<img src="img/svg/phones.svg" alt="Phones image">
							</div>

						</div> <!-- /.col -->

						<div class="col-md-7">

							<div class="features-container">

								<h3>メリット</h3>
								<p>fogsoundは、音楽活動に付きものの以下のような要望に応えます。</p>

								<ul class="features-list">
									<li>音源、Youtube、公式サイト、Twitter。リンクがばらばらに散らばってしまっている。見やすく一箇所にまとめたい。</li>
									<li>モダンなデザインのオフィシャルなページを作りたい。</li>
									<li>気軽に音源をアップロードして、もっといろんな人に曲を聞いてほしい</li>
								</ul>
							</div> <!-- /.features-container -->

						</div> <!-- /.col -->

					</div> <!-- /.row -->

				</div> <!-- /.container -->

			</div> <!-- /.we-make-section -->

			<div class="services-cta-container">
			</div>

		</section>

		<section id="contact">
			<div class="container">

				<div class="row">

					<div class="col-md-8 col-md-offset-2">
						<div class="title-content">
							<h3 class="section-title">今後の機能実装予定</h3>
								<p>「バンドメンバーを募集したい」「アーティスト写真を撮ってくれるカメラマンを探したい」募集機能や、検索順位向上によるトップページから皆様のページへの流入アップなど、fogsoundは今後も随時、様々な機能を追加していきます</p>
						</div>
					</div>
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</section>

		<section id="start">
		</section>

	</main>
<footer>
	<div class='container-fuild footer'>
  <div class='row'>
<div class='col-md-2'></div>

<div class="under-logo col-md-2"></div>

<div class="about-service col-md-3">
<h3>About service</h3>
<li class="my-2"><%= link_to 'よくある質問 ', "/question" %></li>
<li class="my-2"><%= link_to '利用規約 ', "/terms" %></li>
<li class="my-2"><%= link_to 'プライバシーポリシー ', "/privacy_policy" %></li>
<br>
</div>

<div class="about-us col-md-3">
<h3>About us</h3>
<li class="my-2"><%= link_to 'お問い合わせ ', "#" %></li>
<li class="my-2"><%= link_to '公式Twitter ', "#" %></li>
<br>
<li class="my-2"><%= link_to '© 2019 artwork.domein', "#" %></li>
</div>

<div class='col-md-2'></div>
</div>
</div>
</footer>


	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="assets/smooth-scroll.min.js"></script>
	<script type="text/javascript" src="assets/modernizr.mq.js"></script>
	<script type="text/javascript" src="assets/mixitup.min.js"></script>
	<script type="text/javascript" src="assets/slick.min.js"></script>

	<!-- Latest compiled and minified JavaScript Bootstrap-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Custom JS -->
	<script src="assets/custom.js"></script>

</body>
</html>