<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<!DOCTYPE html>
<html>
<head>
    <title>fogsound(フォグサウンド)</title>
    <meta charset="utf-8">
		<!-- Twitterカード設定 -->
    <% twitter_card = get_twitter_card_info(@group,@audio) %>
    <meta name="twitter:card" content=<%=twitter_card[:card]%> />
    <meta property="og:url" content=<%=twitter_card[:url]%> />
    <meta property="og:title" content=<%=twitter_card[:title]%> />
    <meta property="og:description" content=<%=twitter_card[:description]%> />
    <meta property="og:image" content=<%=twitter_card[:image]%> />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
    <meta name="author" content="GraphBerry.com"/>
		<%= analytics_init if Rails.env.production? %>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="assets/social-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2724978810500910",
          enable_page_level_ads: true
     });
</script>
</head>
<body>
<div class="wrapper">
<div class="header">
<div class='container-fluid'>
<div class='row'>
<div class='col-md-2'></div>
<div class='header-content col-md-7 col-md-offset-1'>
<%= link_to(image_tag('logo.png',class: 'header-logo'), "/") %>
<div class='header-menu'>
<% if user_signed_in? %>
  <!--ドロワー-->
    <label id="nav-open" for="nav-input"><a>

<%if current_user.icon_image.present?%>
    <%=image_tag(current_user.icon_image.to_s,class: 'header-icon')%>
<%else%>
    <%=image_tag("noimage.png",class: 'header-icon')%>
  <%end%>


    </a></label>
  <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <div id="nav-content">
      <li class="fas fa-sign-in-alt"><%= link_to ' マイページ', "/#{current_user.nickname}"%></li><br><br>
      <hr>

      <li><%= link_to '楽曲を追加', new_audio_path %></li><br>
      <li><%= link_to '動画を追加', new_video_path %></li><br>
      <hr>
      <li><%= link_to 'メンバーを編集', "/members/#{current_user.nickname}" %></li><br>
      <li class="fas fa-cog"><%= link_to ' 設定', user_edit_path(current_user) %></li>
      </div>
</div>
  <%else%>
	<%= link_to 'はじめる', "/users/sign_up",class: "btn btn-info btn-sm login-button" %>
<%end%>
</div>
</div>


<div class='col-md-2'></div>
</div>
</div>
</div>


	<main>

		<section id="home">
		</section>

		<section id="services">
			<div class="container">
				<div class="row">
				<div class='col-md-1'></div>
					<div class="col-md-10">
						<div class="title-content">
							<h2 class="section-title">音楽活動を行うあなたへ</h2>
							<br><p>fongound(フォグサウンド)は、音楽作品・活動情報をひとつにまとめることのできるポートフォリオ(作品集)サービスです。</p><br>
							<div class="row">
							<%= image_tag "lp-image-a.png",class:"li-image-a col-12" %>
							<%= image_tag "lp-image-b.png",class:"li-image-b col-12" %>
							</div>

						</div>
						<div class='col-md-1'></div>
					</div>
				</div>
			</section>

			<h2>How To Use</h2><br>
			<div class="we-make-section">
				<div class="container">

					<div class="row reorder-sm">

						<div class="col-md-5">
						<%= image_tag "lp-ex-1.png",class:"lp-ex" %>
						</div> <!-- /.col -->

						<div class="col-md-7">

							<div class="features-container">

								<h3>①リンクやファイルを一箇所にまとめる</h3>
								<p>音声ファイル(mp3/wav)やYoutubeリンク、歌詞など音楽作品。TwitterやInstagramへのリンク。あらゆる情報をひとまとめに！</p>
							</div> <!-- /.features-container -->

						</div> <!-- /.col -->

					</div> <!-- /.row -->

				</div> <!-- /.container -->

			</div> <!-- /.we-make-section -->





	<div class="we-make-section2">

				<div class="container">

					<div class="row reorder-sm">

						<div class="col-md-5">
						<%= image_tag "lp-ex-2.png",class:"lp-ex" %>
						</div> <!-- /.col -->


						<div class="col-md-7">

							<div class="features-container">

								<h3>②あなた・あなたたちの情報をまとめる</h3>
								<p>バンド・ユニットの紹介文や、メンバーのプロフィール・SNSアカウントなどもまとめましょう。</p>
							</div> <!-- /.features-container -->

						</div> <!-- /.col -->

					</div> <!-- /.row -->

				</div> <!-- /.container -->

			</div> <!-- /.we-make-section -->




			<div class="we-make-section">
				<div class="container">

					<div class="row reorder-sm">

						<div class="col-md-5">
						<%= image_tag "lp-ex-3.png",class:"lp-ex" %>
						</div> <!-- /.col -->

						<div class="col-md-7">

							<div class="features-container">

								<h3>③ページを公開し、あなた・あなたたちのことを知ってもらう</h3>
								<p>ページを公開することで、音楽活動におけるいわば「名刺」や「作品集」のような存在に。どんな人たちがどんな音楽を作っているのかを伝えることができます。</p>
							</div> <!-- /.features-container -->

						</div> <!-- /.col -->

					</div> <!-- /.row -->

				</div> <!-- /.container -->

			</div> <!-- /.we-make-section -->


			<section id="services-container" >
				<div class="services-container">
				<br><br><h2>こんなメリットがあります</h2><br><br>
					<div class="row">

						<div class="col-md-4 col-sm-6">

							<div class="service">

								<figure>
									<img src="img/svg/services/web_design.svg" alt="Web design services">
									<figcaption><h4 class="service-title">①あなた・あなたたちの活動を一目で表すページを作ることができます</h4></figcaption>
								</figure>

								<p>音楽活動の情報が散らばってしまっては、見づらく、管理しづらいもの。fogsoundですべてを集約することで、あなた・あなたたちのことを一目で表すページの完成です</p><br><br>

							</div>

						</div>

						<div class="col-md-4 col-sm-6">

							<div class="service">

								<figure>
									<img src="img/svg/services/graphic_design.svg" alt="Graphic design services">
									<figcaption><h4 class="service-title">②誰でも簡単にデザインの整ったページを作ることができます</h4></figcaption>
								</figure>

								<p>わざわざ公式サイトを作るのは大変、デザインを考えたりするのは面倒、と考えている方もいるのではないでしょうか。fogsoundを使えば、サクサクと手軽に自分たちのページを作ることができます</p><br><br>

							</div>

						</div>

						<div class="col-md-4 col-sm-6">

							<div class="service">

								<figure>
									<img src="img/svg/services/development.svg" alt="Photography services">
									<figcaption><h4 class="service-title">③あなたたちの情報を見つけやすく、広めやすくなります</h4></figcaption>
								</figure>

								<p>せっかく興味を持ってもらえたのに、Youtubeアカウントの存在を知られなかったらもったいないですよね。fogsoundでページを作れば、そんな機会損失も防げます。SNSに簡単にシェアできるので、ファンも友達におすすめしやすくなります</p><br><br>

							</div>

						</div>
					</div> <!-- /.row -->

					<div class="question">
					<div class="row">
					<div class="col-md-4 col-sm-6"></div>
					<div class="col-md-4 col-sm-6">
					<br><h2>よくある質問</h2><br>
					<h4>Q：無料で使えますか？</h4>
					<p>A：すべての機能を無料でご利用いただけます。</p>

					<br>
					<h4>Q：個人でも使うことはできますか？</h4>
					<p>A：はい。個人、ユニット、バンド、音楽活動をする人すべてを対象としています。</p>

					<br>
					<h4>Q：公式サイトとどう違うの？</h4>
					<p>A：fogsoundでは、今後トップページにおすすめを表示させるなどの機能を実装予定です。<br>そのため公式サイトのような独立したものではなく、トップページからの流入により、新たなファンを獲得したりできるようになります。</p>
					<br><br>
					</div>
					<div class="col-md-4 col-sm-6"></div>
					</div>
					</div>

				</div> <!-- /.services-container -->

			</section> <!-- /.container -->









		<section id="start">
		<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="start-content">
						<br><br><br>
							<h2 class="section-title">1分でかんたん登録</h2>
							<p>ツイッターアカウントで利用開始できます</p>

							<%= link_to 'はじめる', "/users/sign_up",class: "btn btn-info btn-lg login-button" %>

						</div>
					</div>
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</section>

	</main>

<div class="share-space">
<div class="row">
<div class="col-md-4"></div>
<div class=" col-md-4">
	<h4 class="share-ex">このサイトをシェアする</h4>
<a href="https://twitter.com/share?url=https://www.fogsound.net/&hashtags=fogsound" target="_blank" class="share-button" data-show-count="false"><p>Twitter</p></a>
<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.fogsound.net/" target="_blank" class="share-button" data-show-count="false"><p>Facebook</p></a>
<a href="http://line.me/R/msg/text/?https://www.fogsound.net/" target="_blank" class="share-button" data-show-count="false"><p>LINE</p></a>
</div>
<div class="col-md-4"></div>
</div>
</div>



<footer>
	<div class='container-fuild footer'>
  <div class='row'>
<div class='col-md-2'></div>

<div class="under-logo col-md-2"></div>

<div class="about-service col-md-3">
<h3>About service</h3>
<li class="my-2"><%= link_to 'よくある質問 ', "/question" %></li>
<li class="my-2"><%= link_to '利用規約 ', "/terms" %></li>
<li class="my-2"><%= link_to 'プライバシーポリシー ', "/privacy_policy" %></li>
<br>
</div>

<div class="about-us col-md-3">
<h3>About us</h3>
<li class="my-2"><%= link_to 'お問い合わせ ', "/contact" %></li>
<li class="my-2"><%= link_to '公式Twitter ', "https://twitter.com/fogsound_info" %></li>
<br>
<li class="my-2"><%= link_to '© 2019 fogsound.net', "#" %></li>
</div>

<div class='col-md-2'></div>
</div>
</div>
</footer>


	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="assets/smooth-scroll.min.js"></script>
	<script type="text/javascript" src="assets/modernizr.mq.js"></script>
	<script type="text/javascript" src="assets/mixitup.min.js"></script>
	<script type="text/javascript" src="assets/slick.min.js"></script>

	<!-- Latest compiled and minified JavaScript Bootstrap-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- Custom JS -->
	<script src="assets/custom.js"></script>
</div>
</body>
</html>