<span>名前</span>
<%= form.text_field :member_name %>

<br>
<span>楽器パート</span>
<%= form.text_field :part %>

<br>
<span>メンバー自己紹介</span>
<%= form.text_area :member_info %>

<br>
<span>画像</span>
<%= form.file_field :new_member_image,id:"profile-image" %>


<img id="select-image" style="max-width:300px;">
<input type="hidden" id="upload-image-x" name="ImageX" value="0"/>
<input type="hidden" id="upload-image-y" name="ImageY" value="0"/>
<!--
<input type="hidden" id="upload-image-w" name="profileImageW" value="0"/>
<input type="hidden" id="upload-image-h" name="profileImageH" value="0"/>
-->

<%= form.submit %>