<div class='container-fuild'>
<div class='row'>
<div class='col-md-4'></div>

<div class='col-md-4'>
<%=render "shared/errors",obj: @member%>
<div class="field">

<br>
<p class="text-left label">画像</p>
<div id="img_field" onClick="$('#file').click()" >
<% if @member.member_image.attached? %>
  <%= image_tag @member.member_image,class:"ex_image"  %>
<% else %>
  <i class="fas fa-image"></i><i class="fas fa-file-upload add"></i>
<% end %>
</div>
<%= form.file_field :new_member_image, style: "display:none;", id: "file" %>




<br>
<p class="text-left label">名前</p>
<%= form.text_field :member_name,class:"form-control", placeholder: "名前" %>

<br>
<p class="text-left label">楽器パート</p>
<%= form.text_field :part,class:"form-control", placeholder: "楽器パート" %>

<br>
<p class="text-left label">自己紹介</p>
<%= form.text_area :member_info,class:"form-control", placeholder: "自己紹介" %>


<br>
<p class="text-left label">TwitterID</p>
<%= form.text_field :twitter_id,class:"form-control", placeholder: "" %>

<br>
<p class="text-left label">InstagramID</p>
<%= form.text_field :instagram_id,class:"form-control", placeholder: "" %>

</div>
<%= form.submit class:'btn btn-info btn-lg my-5',value:"この内容で登録する" %>


</div>
<div class='col-md-4'></div>
</div>
</div>