<div class='container-fuild'>
<div class='row'>
<div class='col-md-4'></div>

<div class='col-md-4'>
<div class="field">



<%= form.label :member_name %>
<%= form.text_field :member_name,class:"form-control", placeholder: "名前" %>

<%= form.label :part %>
<%= form.text_field :part,class:"form-control", placeholder: "楽器" %>

<%= form.label :member_info %>
<%= form.text_area :member_info,class:"form-control", placeholder: "自己紹介" %>


<%= form.label :new_member_image %>
<%= form.file_field :new_member_image,id:"myfile3" %>

<img id="img3"/>

</div>
<%= form.submit class:'btn btn-info btn-lg my-5' %>


</div>
<div class='col-md-4'></div>
</div>
</div>