<span>名前</span>
<%= form.text_field :member_name %>

<br>
<span>楽器パート</span>
<%= form.text_field :part %>

<br>
<span>メンバー自己紹介</span>
<%= form.text_area :member_info %>

<br>
<span>画像</span>
<%= form.file_field :new_member_image %>

<%= form.submit %>