<span>名前</span>
<%= form.text_field :member_name %>

<br>
<span>楽器パート</span>
<%= form.text_field :part %>

<br>
<span>メンバー自己紹介</span>
<%= form.text_area :member_info %>

<br>
<span>画像</span>
<%= form.file_field :new_member_image,id:"profile-image" %>

<!--
<img id="select-image" style="max-width:300px;">
<%= form.hidden_field :imageX,:id => "upload-image-x", :value => "0"%>
<%= form.hidden_field :imageY,:id => "upload-image-y", :value => "0"%>
<%= form.hidden_field :imageW,:id => "upload-image-w", :value => "0"%>
<%= form.hidden_field :imageH,:id => "upload-image-h", :value => "0"%>


<input type="hidden" id="upload-image-x" name="imageX" value="0"/>
<input type="hidden" id="upload-image-y" name="imageY" value="0"/>
<input type="hidden" id="upload-image-w" name="profileImageW" value="0"/>
<input type="hidden" id="upload-image-h" name="profileImageH" value="0"/>
-->

<%= form.submit %>